PROBABILITY

In [1]:
# Probabbility of getting 3 when a die is rolled
ns=6 # n(S)={1,2,3,4,5,6}
na=1 # n(A)={3}
pa=na/ns # P(A)
print("Probability of getting 3 is:",pa)

Probability of getting 3 is: 0.16666666666666666

In [2]:
# Probability of getting one head when a coin is tossed thrice
ns=8 # n(S)={HHH,HHT,THH,HTH,TTH,THT,HTT,TTT}
na=7 # n(A)={HHH,HHT,THH,HTH,TTH,THT,HTT}
pa=na/ns
print("Probability of atleast getting one head is:",pa)

Probability of atleast getting one head is: 0.875

In [3]:
# A glass of jar contains 5 red,3 blue and 2 green jelly beans.If a jelly beans is chosen at random from the jar.
# what is the probability that it is not blue
ns=10 # n(S)={5 red,3 blue,3 green}
na=7 # n(A)={5 red,3 green}
pa=na/ns #P(A)
print("Probability of getting not blue jelly beans is:",pa)

Probability of getting not blue jelly beans is: 0.7

 INDEPENDANT AND DEPENDANT EVENT

In [4]:
# If the probability that the person A will be alive in 20 years is 0.7 and the probability that person B will be alive in 
# next 20 years is 0.5.What is the probability that they both will be alive in the next 20 years?
P=0.7*0.5
print("Probability that they both will be alive in next 20 years is:",P)

Probability that they both will be alive in next 20 years is: 0.35

In [5]:
def event_probability(n,s):
    return n/s

In [6]:
# A fair die is tossed twice. Find the probability of getting a 4 or 5 on the first toss and 1,2,3 in the second toss.
pa=event_probability(2,6) # probability of getting 4 or 5 on first toss
pb=event_probability(3,6) # Probability of getting 1,2 or 3 on the second toss
P=pa*pb
print("Probability of getting  4 or 5 in first toss and getting 1,2 or 3 in second toss is:",P)

Probability of getting  4 or 5 in first toss and getting 1,2 or 3 in second toss is: 0.16666666666666666

In [7]:
# A bag contains 5 white marbles, 3 black marbles, and 2 green marbles.In each draw a marble is drawn from the bag and not
# replaced.In 3 draws, find the probability of obtaining white,black and green in that order.
pw=event_probability(5,10)
pb=event_probability(3,9)
pg=event_probability(2,8)
P=pw*pb*pg
print("Probability of obtaining white,black and green in that order is",(pw*pb*pg))

Probability of obtaining white,black and green in that order is 0.041666666666666664

In [8]:
#Calculate the probability of getting a heart or club
cards=52
heart=13
club=13
heart_or_club=event_probability(heart,cards)+event_probability(club,cards)
print(heart_or_club)

0.5

In [16]:
# To calculate probability of drawing an ace king or queen
aces=4
kings=4
queens=4
aces_kings_or_queens=event_probability(aces,cards)+event_probability(kings,cards)+event_probability(queens,cards)
print(aces_kings_or_queens)

0.23076923076923078

In [17]:
# To calculate probability of drawing a heart or ace
hearts=13
ace=4
ace_of_hearts=1
hearts_or_ace=event_probability(hearts,cards)+event_probability(ace,cards)-event_probability(ace_of_hearts,cards)
print(round(hearts_or_ace,1))

0.3

COMPLEMENTARY EVENT

In [19]:
# Probability of not getting 5 when a fair die is rolled
ns=6 #n(S)={1,2,3,4,5,6}
na=1 #n(A)={5}
pa=na/ns # P(A)
print("Probability of not getting 5 is:",1-pa)

Probability of not getting 5 is: 0.8333333333333334

# CONDITIONAL PROBABILITY

In [21]:
import pandas as pd
import numpy as np
df=pd.read_csv("D:\student-mat.csv")
df.head(3)

,school,sex,age,address,famsize,Pstatus,Medu,Fedu,Mjob,Fjob,...,famrel,freetime,goout,Dalc,Walc,health,absences,G1,G2,G3
0,GP,F,18,U,GT3,A,4,4,at_home,teacher,...,4,3,4,1,1,3,6,5,6,6
1,GP,F,17,U,GT3,T,1,1,at_home,other,...,5,3,3,1,1,3,4,5,5,6
2,GP,F,15,U,LE3,T,1,1,at_home,other,...,4,3,2,2,3,3,10,7,8,10

In [22]:
len(df)

395

In [23]:
df['grade_A']=np.where(df['G3']*5>=80,1,0)

In [24]:
df['high_absenses']=np.where(df['absences']>=10,1,0)

pivot table to make it easier

In [25]:
df['count']=1

drop all the columns we dont want

In [32]:
df=df[['grade_A','high_absenses','count']]
df

     grade_A  high_absenses  count
0          0              0      1
1          0              0      1
2          0              1      1
3          0              0      1
4          0              0      1
..       ...            ...    ...
390        0              1      1
391        1              0      1
392        0              0      1
393        0              0      1
394        0              0      1

[395 rows x 3 columns]

In [35]:
final=pd.pivot_table(
     df,
     values='count',
     index=['grade_A'],
     columns=['high_absenses'],
     aggfunc=np.size,
     fill_value=0
)

In [36]:
print(final)

high_absenses    0   1
grade_A
0              277  78
1               35   5